.video-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index:100;

  }
  
  .video-container video {
    width: 100%;
    height: auto;
    position: absolute;
  }

.grid-container {
    width: 100%;
    display: grid;
    grid-template:
      'header header header'
      'left main right'
      'footer footer footer';
      grid-template-columns: 15vw 70vw 15vw;
      grid-template-rows: 15vh 77vh 7vh;
      grid-auto-flow: row;
  }

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    height: 100%;
}
main {
    opacity: 0;
    grid-area: main;
    margin: 3%;
    
}
footer {
    grid-area: footer;
}

/* HEADER */

.border-title {
    height: 100%;
    background-color: rgba(0,0,0,0.20);
    backdrop-filter: blur(20px);
}

.display-1 {
    font-size: 4vh;
    position: relative;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    text-align: center;
    color: white;
    white-space: nowrap;
    padding-left: 1vw;
    padding-right: 1vw;
    border-bottom: 1px solid white;
}

/* END HEADER */

/* -- CASE STUDY -- */

.container-CaseStudy{
    width:100%;
    display:flex;
}

.slide1{
    flex:none;
}

/*END SLIDE 1*/

.slide2{
    flex:none;
    width:100%;
    margin-left: -100%;
    justify-content: center;
}

.pie{
    position: relative;
    background: transparent;
    border: none;
    width:80%;
    height: auto;
}

.txt{
    position: relative;
    border: none;
    font-weight: 100%;
    width: 100%;
    font-size: 5vh;
    padding-bottom: 30vh;
    
}

.txt2{
    position: relative;
    border: none;  
    text-align: center;
    font-weight: 100%;
    width: 100%;
    font-size: 4vh;
}

/*END SLIDE 2*/

.slide3{
    flex: none;
    width: 100%;
    margin-left: -100%;   
}

.txt3{
    position: relative;
    border: none;
    font-size: 3vh;
    font-weight: 100%;
    text-align: center;
}

.accordion-button{
    font-size: 2.5vh;
    height: 1%;
}

.accordion-item{
    height: 1%;
}

.accordion{
    position: relative;
    top: 5%;
    font-size: 2.5vh;

    backdrop-filter: blur(20px);

    --bs-accordion-color: white;
    --bs-accordion-bg: rgba(33, 37, 41, 0.75);
    --bs-accordion-border-color: rgba(0, 0, 0, 0);
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-focus-border-color: white;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0 white;
    --bs-accordion-active-color: white;
    --bs-accordion-active-bg: rgb(34, 73, 112);
}

.col-8{
    padding-top: 1%;
}

.col-4{
    text-align: center;
}

.slide3-images{
    height: auto;
    width: 50%;
}

/*END SLIDE 3*/