@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    
}

p {
    color: white;
}

h4 {
    padding-left: 10px;
    margin: 0px;
    color: white;
    font-size: 45px;
}


.btn {
    font-size: 60px;
    width: 33%;
    border-radius: 20px;
}

.btn .btn-list {
    font-size: 60px;
    width: 100%;
    border-radius: 20px;
}


.btn-group {
    /* background-color: rgba(0, 0, 0, 0.6); */
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -60%);
    width: 66vw;
    border-radius: 20px;
    /* border: 1px solid white; */
    /* width: 100vw;
    height: 100vh; */
}

#scroll{
    /* background-color: rgba(0, 0, 0, 0.6); */
    font-size: 60px;
    border-radius: 20px;
    position:absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -20%);
    width: 66vw;
    max-height: 60vh;
    /* overflow-y: scroll; */
    border-radius: 20px;
    border-color: rgba(33, 37, 41, 1);
    /* width: 100vw;
    height: 100vh; */
    
}

.navbar .container-fluid {
    padding-left: 0px;
    justify-content: left;
}

.navbar-brand {
    left: 0;
    padding: 0px 15px;
    font-size: 45px;
}

.navbar {
    background-color: rgba(33, 37, 41, 0.75);
    /* border: 1px solid white; */
}

.breadcrumb {
    margin-bottom: 0px;
    font-size: 45px;
    color: white;
}